$typography-presets: (
    poppins-extralight: (
        font-family: ("Poppins", serif),
        font-weight: 200
    ),
    poppins-regular: (
        font-family: ("Poppins", serif),
        font-weight: 400
    ),
    poppins-semibold: (
        font-family: ("Poppins", serif),
        font-weight: 600
    ),
)