@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    min-height: 94svh;
    width: 100%;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    &__subtitle {
        @include mixins.typography(poppins-extralight);
        font-size: 36px;
        letter-spacing: 0.25px;
        color: vars.$veryDarkBlue;
    }
    &__title {
        @include mixins.typography(poppins-semibold);
        font-size: 36px;
        letter-spacing: 0.25px;
        color: vars.$veryDarkBlue;
        margin: 2px 0 14px;
    }
    &__summary {
        @include mixins.typography(poppins-regular);
        font-size: 15px;
        letter-spacing: 0.1px;
        line-height: 25px;
        color: vars.$grayishBlue;
        text-align: center;
    }
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 1110px;

    & > .card:nth-child(1) {
        position: relative;
        transform: translate(0, 50%);
        border-top: 5px solid vars.$cyan;
    }

    & > .card:nth-child(2) {
        border-top: 5px solid vars.$red;
    }
    
    & > .card:nth-child(3) {
        border-top: 5px solid vars.$orange;
        order: 4;
    }
    
    & > .card:nth-child(4) {
        position: relative;
        transform: translate(0, 50%);
        border-top: 5px solid vars.$blue;
    }
}

@media screen and (max-width: 1200px) {
    main {
        padding: 80px 32px 0;
    }
	.title-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 311px;
		&__subtitle {
			font-size: 24px;
			letter-spacing: 0.17px;
		}
		&__title {
			font-size: 24px;
			letter-spacing: 0.17px;
			margin: 2px 0 14px;
		}
		&__summary {
			font-size: 15px;
			letter-spacing: 0.1px;
			line-height: 25px;
			text-align: center;
		}
	}

    .card-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 0;
        width: 100%;
    
        & > .card:nth-child(1) {
            transform: none;
        }
        
        & > .card:nth-child(3) {
            order: inherit;
        }

        & > .card:nth-child(4) {
            transform: none;
        }
    }
}