@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background: vars.$white;
    padding: 32px;
    height: 250px;
    width: 350px;

    &__title {
        @include mixins.typography(poppins-semibold);
        color: vars.$veryDarkBlue;
        font-size: 20px;
    }

    &__summary {
        @include mixins.typography(poppins-regular);
        color: vars.$grayishBlue;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.09px;
    }

    &__icon {
        align-self: flex-end;
        height: 64px;
        width: 64px;
    }
}

@media screen and (max-width: 375px) {
    .card {
        gap: 26px;
        padding: 28px;
        height: 222px;
        width: 311px;
    
        &__icon {
            height: 58px;
            width: 58px;
        }
    }
}